* {
    margin: 0px;
　　padding: 0px;
  }
 html
{ -webkit-text-size-adjust: 100%; 
  font-size: 14px;
  font-family: 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
  color: #222222;
}
html { box-sizing: border-box; } *, *:before, *:after { box-sizing: inherit; }
body
 { -webkit-font-smoothing: antialiased; }
ul, ol 
 { list-style: none; }
 *, *:before, *:after
{ word-break: break-all; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
p
{ line-height: 1.5; 
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
img {
    width: 100%;
    border: 0;
    vertical-align: middle;
}
  .site-header {
    padding-top: 20px;
    padding-bottom: 20px;
}
 .header-logo-pc:hover {
    opacity:0.8;
}
.hover-opacity:hover {
    opacity:0.8;
}
a:visited
{ color: inherit; }
a 
 {text-decoration: none;}
    .content-width {
        max-width: 1140px;
        padding-left: 50px;
        padding-right: 50px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    @media screen and (max-width: 767px) {
    .header-logo > .header-logo-sp {
    display: inline-block;
    width: auto;
    height: 16px;
    }
}
.header-logo > .header-logo-pc {
    width: auto;
    height: 20px;
}
.header-nav-list.contents-tidy {
    align-items: center;
}
.contents-tidy {
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width:767px) {
.content-width {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
    }
}
.content-width {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.header-nav-item > span {
    display: block;
    font-weight: bold;
    text-align: center;
    margin-right: 20px;
    font-size:12px;
}
@media screen and (max-width: 1080px) {
.site-header {
    position: fixed;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    }
}
.site-header {
padding-top: 20px;
padding-bottom: 20px;
}
@media screen and (max-width: 1080px) {
.header-nav-hamburger {
    cursor: pointer;
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    z-index: 100; 
 }
}
@media screen and (max-width: 1080px) {
.header-nav-hamburger-line1 {
    position: absolute;
    top: 10px;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #222;
    transform: translate(0, -50%);
    border-radius: 10px;
    transition: top 0.2s, transform 0.2s, opacity 0.3s;
    }
}
@media screen and (max-width: 1080px) {
.header-nav-hamburger-line2 {
    position: absolute;
    top: 20px;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #222;
    transform: translate(0, -50%);
    border-radius: 10px;
    transition: top 0.2s, transform 0.2s, opacity 0.3s;
    }
}
@media screen and (max-width: 1080px) {
.header-nav-hamburger-line3 {
    position: absolute;
    top: 30px;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #222;
    transform: translate(0, -50%);
    border-radius: 10px;
    transition: top 0.2s, transform 0.2s, opacity 0.3s;
    }
}
@media screen and (max-width: 1080px) {
.header-nav-list {
    display: none;
    }
}
.orange { color:#f79314;}
.link-button.menu {
    height: 40px;
    font-size: 12px;
}
.link-button:visited {
    color: #fff;
}
@media screen and (min-width: 767px) {
a.link-button {
    color: #fff;
}
}
.link-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-color: #f79314;
    border-radius: 30px;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    height: 60px;
    font-size: 20px;
    border: none;
}
main {
    display: block;
}
.background {
    width:100%;
    position:relative;
}
.section-underlayer-hero {
    padding-top: 70px;
    padding-bottom: 71px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1440px;
    background-color: #f79314;
}
.section-underlayer-hero.course {
    content: '';
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/course-hero-pc.png);
}
.underlayer-hero-heading.course {
    padding-left: 145px;
}
.underlayer-hero-heading {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
    padding-left: 110px;
}
.main-section {
    background-color: #fcfaf5;
    margin-top: -10px;   
    align-items:center;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 80px;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.section-main-heading {
    font-size: 46px;
    font-weight: bold;

    width: 100%;
}
.section-main-heading.about-title::after {
    content: '';
    display: block;
    border-bottom: solid 6px #f79314;
    width: 50px;
    margin-top: 20px;
    margin:20px auto;
}
.detail-text {
    margin-top: 30px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}
.pc-br {
    display: block;
}
.detail-text--emphasis {
    margin-top: 24px;
    font-size: 20px;
    font-weight: bold;
}
.under-decoration {
    background: linear-gradient(transparent 70%, #fff79d 70%, #fff79d);
    word-wrap: break-word;
}
.detail-point {
    margin-top: 100px;
    padding: 40px;
    text-align: center;
    border-radius: 20px;
    background-color: #fff;
}
.detail-point {
    background-color: #fff;
}
.list-no {
    background-color: #fff;
}
.list-no {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -90px auto 0 auto;
    border-radius: 50%;
    color: #f79314;
    font-weight: bold;
    font-size: 40px;
}
.list-no-image {
    width: 40px;
    margin-top: -8px;
}
.detail-point-title {
    margin-top: -20px;
    font-size: 30px;
    line-height: 36px;
}
@media screen and (max-width: 767px) {
.detail-box {
    flex-direction: column;
 }
}
@media screen and (max-width: 767px) {
.detail-cassette {
    width: 100%;
    margin-top: 40px;
 }
}
@media screen and (min-width: 767px) {
.detail-cassette {
    width: 31%;
    margin-top: 40px;
 }
}
.detail-cassette-title {
    padding: 4px;
    border-radius: 15px;
    color: #fff;
    background-color: #222;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.detail-cassette-text {
    margin-top: 16px;
    font-size: 16px;
    font-weight: bold;
}
.detail-cassette-text::before {
    content: '';
    display: inline-block;
    width: 23px;
    height: 20px;
    margin-right: 10px;
    background: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/icon-finger.png) no-repeat;
    background-size: 100%;
}
.detail-course-head {
    background-color: #F79314;
    font-family: NotoSansCJKjp-Bold, Arial, Helvetica, sans-serif;
    color: white;
    padding: 18px;
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
}
.detail-course-content:nth-child(even) {
    background-color: #fffdfa;
}
@media screen and (min-width: 767px) {
.detail-course-block-box {
    margin-top: 60px;
    padding: 0px 40px 0px;
    display: flex;
    text-align: center;
 }
}
.detail-course-block:first-child {
    margin-right: 25px;
}
.detail-course-head > p {
    font-size: 20px;
    margin-top: 3px;
}
p {
    line-height: 1.5;
}
.detail-course-content {
    padding: 18px;
}
.detail-course-content-price:before {
    content: "\FFE5";
    font-family: NotoSansCJKjp-Bold, Arial, Helvetica, sans-serif;
}
.detail-course-content .detail-course-content-price {
    font-size: 28px;
    font-family: Lato-Black;
    font-weight: bold;
    margin: 10px 0px 20px;
}
.detail-course-content-price:after {
    content: "\7A0E\5225";
    font-family: NotoSansCJKjp-Bold, Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 4px;
}
.detail-course-content-body {
    font-family: Noto Sans CJK JP;
    font-size: 16px;
    color: #22222299;
    line-height: 2em;
    text-align: left;
    margin-bottom: 10px;
}
.detail-course-term {
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
}
.detail-course-content span {
    color: #F79214;
    margin-left: 5px;
}
.detail-course-anchor > a {
    color: #F79214;
    font-weight: bold;
}
.detail-course-anchor > a:before {
    content: "\203A";
    transform: matrix(0, 1, -1, 0, 0, 0);
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
}
.course-plan {
    background-color: white;
}
.plan-box {
    margin-top: 60px;
    padding: 40px;
    border-radius: 20px;
    background-color: #fcfaf5;
}
.plan-sub-head {
    margin-bottom: 4px;
    font-size: 15px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
}
.plan-head {
    max-width: 476px;
    margin: 0 auto;
    font-size: 35px;
    line-height: 1;
    text-align: center;
    color: #f79214;
    background: -webkit-linear-gradient(-40deg, #f79214, #f74e06);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.plan-cassettes {
    margin-top: 40px;
    padding: 16px 20px 20px;
    border-radius: 10px;
    background-color: #fff;
}
@media screen and (max-width: 767px) {
.plan-cassettes {
    margin-top: 20px;
    }
}
.plan-cassettes-head {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
    text-align: start;
}
.plan-cassettes-head::before {
    content: '';
    position: relative;
    top: 3px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/icon-point.png);
    background-size: 100%;
}
.list-content::before {
    content: '';
    display: inline-block;
    min-width: 8px;
    height: 8px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #f79314;
}
.list-content {
    justify-content: flex-start;
    align-items: baseline;
    padding-left: 8px;
    font-size: 16px;
    line-height: 26px;
}
.desc-title.detail::before {
    content: '';
    background-size: contain;
    width: 17px;
    height: 17px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/icon-pencil.png);
}
.desc-title.term::before {
    content: '';
    background-size: contain;    
    width: 16px;
    height: 18px;
    margin-left: 2px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/icon-calender.png);
}
.desc-title.condition::before {
    content: '';
    background-size: contain;    
    width: 17px;
    height: 14px;
    margin-left: 2px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/icon-condition.png);
}
.desc-title.fee::before {
    content: '';
    background-size: contain;
    width: 20px;
    height: 20px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/icon-coin.png);
}
.desc-title {
    align-items: center;
    width: 142px;
    margin-top: 20px;
    padding: 4px 26px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    color: #f79214;
    background-color: #fcfaf5;
}
.desc-text {
    margin-top: 20px;
    padding-left: 16px;
    font-size: 16px;
    line-height: 18px;
    text-align: start;
}
.plan-box {
    margin-top: 60px;
    padding: 40px;
    border-radius: 20px;
    background-color: #fcfaf5;
}
.plan-cassettes {
    margin-top: 40px;
    padding: 16px 20px 20px;
    border-radius: 10px;
    background-color: #fff;
}
.plan-cassettes-head {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
}
.plan-cassettes-tools {
    display: flex;
    margin-top: 28px;
    display: flow-root;
}
.plan-cassettes-tool:nth-child(odd) {
    margin-right: 2%;
}
@media screen and (min-width: 767px) {
.plan-cassettes-tool {
    width: 49%;
    float: left;
    }
}
.plan-cassettes-tool-box {
    padding: 13px 8px 18px;
}
.plan-cassettes-tool-label {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 4px;
}
.plan-cassettes-tool-body {
    font-size: 16px;
}
.plan-cassettes-skipping {
    display: flow-root;
    padding: 20px;
    text-align: start;
}
.plan-cassettes-skipping-left {
    float: left;
    width: 90px;
    height: 120px;
    text-align: center;
    margin-right: 20px;
    margin-top: 30px;
}
@media screen and (max-width: 767px) {
.plan-cassettes-skipping-left {
    float: initial;
    width: 65%;
    height: initial;
    max-width: 130px;
    margin: 0px auto 20px;
    }
}
.plan-cassettes-skipping-right {
    float: left;
    display: contents;
}
.plan-cassettes-skipping-right>h4 {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
}
.plan-cassettes-skipping-right>p {
    font-size: 16px;
}
.plan-cassettes-skipping-right>p>span {
    color: #F79214;
}
.main-section.pick-up-contents {
    padding-top: 40px;
    background-color: #f6f6f6;
    overflow: hidden;
    padding-bottom: 120px;
    position: relative;
}
.main-section.pick-up-contents > * {
    position: relative;
    z-index: 1;
}
.pick-up-contents > .content-width {
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/bg-section-top-course.png);
    background-size: 281px 275px;
    background-repeat: no-repeat;
    background-position: calc(100% - 50px) top;
    padding-top: 35px;
}
.section-main-heading::after {
    content: '';
    display: block;
    border-bottom: solid 6px #f79314;
    width: 50px;
    margin-top: 20px;
    margin:20px auto;
}
.pick-up-contents-list > .pick-up-contents-cassette {
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% / 3);
    }
.pick-up-contents-media-thumbnail > img {
    width: 100%;
    height: 145%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
}
.pick-up-contents-media-text {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    line-height: 1.8;
}
.pick-up-contents-media-thumbnail {
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    height: 0;
    position: relative;
    padding-top: calc((190/320) * 100%);
    }
.hover-scale {
    transition:0.2s;
}
a:hover .hover-scale { transform: scale(1.1); }
a:hover .hover-text-color { color: #f79314; }

.site-footer {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #f79314;
}
.footer-info .footer-logo > img {
    width: 100%;
    height: auto;
}
@media screen and (min-width: 767px) {
.site-footer-main .footer-info {
    order: 1;
}
}
@media screen and (min-width: 767px) {
.site-footer-main .footer-nav {
    order: 2;
}
}
@media screen and (min-width: 767px) {
.site-footer-main .footer-character {
    order: 3;
    align-self: flex-end;
}
}
.footer-info .footer-logo + .footer-company {
    margin-top: 25px;
}
.footer-info .footer-company, .footer-info .footer-address {
    font-size: 16px;
    font-weight: bold;
}
.footer-info .footer-address .footer-social {
    margin-top: 35px;
}
.footer-info .footer-social {
    display: flex;
}
.footer-info {
    display: block;
    color: #fff;
}
.address {
    font-style: normal;
}
.footer-character > img {
    width: auto;
    height: 70px;
}
.footer-nav-item:link, .footer-nav-item:visited {
    color: #fff;
}
.footer-nav-item {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
.footer-copyright {
    color: #fff;
    font-size: 12px;
}
.footer-info .footer-social-item {
    display: block;
    max-width: 60px;
}
.footer-info .footer-social > li + li {
    margin-left: 20px;
}
.footer-info .footer-logo {
    display: inline-block;
    max-width: 280px;
}
.footer-nav-item > span {
    font-weight: normal;
    margin-left: 1em;
}
.footer-nav > li + li {
    margin-top: 30px;
}
.page-top-button.contents-tidy {
    align-items: center;
    justify-content: center;
}
.page-top-arrow {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-left: solid 3px #f79214;
    border-top: solid 3px #f79214;
    transform: rotate(45deg);
    text-decoration: none;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.page-top-button {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -105px;
    right: 50px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 12px 30px -15px;
    transition: 0.2s;
}
@media screen and (max-width: 767px) {
.site-footer {
    padding-top: 60px;
    padding-bottom: 40px;
    }
}
@media screen and (max-width: 767px) {
.content-width {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
    }
}
@media screen and (max-width: 767px) {
.page-top-button {
    right: 20px;
    top: -85px;
}
}
@media screen and (max-width: 767px) {
.site-footer-main .footer-nav {
    text-align: left;
    margin-left: 20px;
    }
}
@media screen and (max-width: 767px) {
.site-footer-main * + .footer-character {
    margin-top: 50px;
    }
}
@media screen and (max-width: 767px) {
.site-footer-main * + .footer-info {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #fff;
    }
}
@media screen and (max-width: 767px) {
.footer-info .footer-social {
    justify-content: center;
    }
}
@media screen and (max-width: 767px) {
.footer-info .footer-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
}
@media screen and (max-width: 767px) {
.footer-info .footer-company, .footer-info .footer-address {
    text-align: center;
}
}