* {
    margin: 0px;
　　padding: 0px;
  }
 span { color:#f79314;}
a { 
    width:100%;
    text-decoration: none;
}
a:visited { color: inherit; }
    .ul1 {
        position: relative;
        height: 600px;
         }
    .ul1 li:hover { opacity: 0.7; }
        .img1 { 
            width: 100%;
            height: 100%;
        }
        .ul1 li { 
             list-style: none;
             text-align: center;
             float: right;
             font-size: 13px;
              　}
        .li1_1 { 
             position: absolute;
             top: 20px;
             right: 15%;
             color: #FFFFFF;
             background: #f79314;
             padding: 10px 20px;
             border-radius: 30px;
             display: block;
                }
        .li1 {position: absolute;
             top: 20px;
             right: 30%;
             }
        .li2 {position: absolute;
             top: 20px;
             right: 37%;
             }
        .li3 { position: absolute;
             top: 20px;
             right: 44%;
             }
        .li4 { position: absolute;
             top: 20px;
             right: 51%;
             }
        .li5 { position: absolute;
             top: 20px;
             right: 57%;
             }
        .li6 { position: absolute;
             top: 20px;
             right: 65%;
             }
        .logo1 {
             position: absolute;
             top:20px;
             right:75%;
             width: 200px;
        }
        .logo1:hover{ opacity: 0.7; }
        .logo2 {
            position: absolute;
             top:200px;
             left:210px;
             width: 350px;
        }
        .honki {
            position: absolute;
            top:270px;
            left:210px;
            width:350px;
            font-size: 20px;
            font-weight: 700;
        }
        .img2 {
            position: absolute;
            top:200px;
            left:600px;
            width:150px;
        }
        .councelling {    
            position: absolute;
            top:370px;
            left:210px;
            color: #FFFFFF;
            font-size: 15px;
            background: #f79314;
            padding: 20px 100px;
            border-radius: 30px;
            display: block;
        }
        .councelling:hover { opacity: 0.7; } 
        .kome {
             position: absolute;
             bottom:30px;
             left:210px;
             font-size: 10px;
             color: #888888;
        }
    .section1 {
        width:100%;
        height:500px;
        border:none;
        background-color:#f79314;
        position:relative;
    }
        .gakusei {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top:50px;
            width:70%;
            display:block;
        }
        .gakusei:hover { opacity:1; }
        .white1 {
            position: absolute;
            top:280px;
            left:220px;
            color:white;
            font-size: 45px;
            font-weight: bold;
        }
        .white2 {
            position:absolute;
            top:350px;
            left:220px;
            color:white;
            font-size: 14px;
            font-weight: bold;
            line-height: 230%;
        }
        .white3 {
            position: absolute;
            top: 320px;
            right: 150px;
            color: #f79314;
            font-size: 15px;
            background: #FFFFFF;
            padding: 10px 130px;
            border-radius: 30px;
            text-align: center;
            font-weight: 900;
            letter-spacing: 0.3em;
            display: block;
        }
        .white3:hover { opacity: 0.7; }
    .section2 {
        width:100%;
    }
        .oomidasi {
            text-align: center;
            margin-top: 50px;
            font-size: 50px;
            font-weight: 900;
        }
        .komidasi {
            margin-top: 10px;
            font-weight: bold;
            font-size: 16px;
            text-align: center;
        }
        .lign {
            background-color: #f79314;
            width: 50px;
            height: 7px;
            margin: 20px auto;
            border: none;
            text-align: center;
        }
        .background {
            margin: 70px auto;
            width: 70%;
            background-color: #fcfaf5;
            border-radius: 20px;
            text-align: center;
            padding: 40px;
            height: 700px;
        }
            .list-no {
                width: 100px;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0px auto;
                background-color: #fcfaf5;
                margin: -90px auto 0 auto;
                border-radius: 50%;
                color: #f79314;
                font-weight: bold;
                font-size: 40px;
            }
            .list-tytle { 
                font-weight: bold;
                font-size: 30px;
                margin-top: -20px;
                letter-spacing: 1px;
            }
            .list-text {
                font-size: 16px;
                margin-top: 30px;
                letter-spacing: 1.5px;
                font-weight: 500;
                line-height: 2;
            }
            .example {    
                height: 350px;
                background-color: #fff;
                margin-top: 40px;
                border-radius: 20px;
                padding: 30px;
            }
            .example-tytle {
                display: inline-block;
                font-weight: bold;
                font-size: 24px;
                vertical-align: bottom;
                line-height: 1;
            }
            .panda {
                margin-left: 10px;
                width: 34px;
                height: auto;
            }
            .lign2 {
                background-color: #f79314;
                border: none;
                height: 4px;
                width: 220px;
                margin: 10px auto;
            }
            .company img {
            width:20%;
            }
        .background2 {
            margin: 70px auto;
            width: 70%;
            background-color: #fcfaf5;
            border-radius: 20px;
            text-align: center;
            padding: 40px;
            height: 400px;
        }
            .list-no2 {
            width: 100px;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0px auto;
                background-color: #fcfaf5;
                margin: -90px auto 0 auto;
                border-radius: 50%;
                color: #f79314;
                font-weight: bold;
                font-size: 40px;
            }
            .list-tytle2 { 
                font-weight: 900;
                font-size: 30px;
                margin-top: -20px;
                letter-spacing: 1px;
            }
            .list-text2 {
                font-size: 16px;
                margin-top: 30px;
                letter-spacing: 1.5px;
                font-weight: 500;
                line-height: 2;
            }
            .span2 {
                color: #f79314;
                font-size: 25px;
                font-family: 'Lato', sans-serif;
                font-weight: bold;
                line-height: 1;
            }
            .example2 {
                background-color: #fff;
                width: 95%;
                height: 200px;
                margin-top: 40px;
                border-radius: 20px;
                padding: 30px;
            }
                .example2 img {
                    width:20%;
                }
                .enn {
                    margin-left:100px;
                    margin-right:100px;
                }

        .background3 {
            margin: 70px auto;
            width: 70%;
            background-color: #fcfaf5;
            border-radius: 20px;
            text-align: center;
            padding: 40px;
            height: 500px;
        }
            .list-no3 {
                width: 100px;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0px auto;
                background-color: #fcfaf5;
                margin: -90px auto 0 auto;
                border-radius: 50%;
                color: #f79314;
                font-weight: bold;
                font-size: 40px;
            }
            .list-tytle3 { 
                font-weight: 900;
                font-size: 30px;
                margin-top: -20px;
                letter-spacing: 1px;
            }
            .list-text3 {
                font-size: 16px;
                margin-top: 30px;
                letter-spacing: 1.5px;
                font-weight: 500;
                line-height: 2;
            }
            .span3 {
                color: #f79314;
                font-size: 25px;
                font-family: 'Lato', sans-serif;
                font-weight: bold;
                line-height: 1;
            }
            .example3-1 {
                background-color: #fff;
                width: 25%;
                height: 300px;
                margin-top: 40px;
                border-radius: 20px;
                padding: 30px;
                float:left;
                flex-direction: column;
                align-items: center;
                font-weight: bold;
            }
                .grooves1 {
                    width:80%;
                    margin-bottom: 30px;
                }
                .grooves2 {
                    width:25%
                }
                .company2-1{
                        font-size: 15px;
                        color: #f79314;
                        margin-left: 20px;
                        text-align: left;
                        float: right;
                }
                .Railsengineer{
                    color:black;
                    font-size:20px;
                    font-weight:bold;
                }
                .hukidasi1 {
                        width: 90%;
                        position: relative;
                        background-color: #f6f6f6;
                        padding: 20px;
                        border-radius: 10px;
                        margin-top: 20px;
                        text-align: start;
                        font-size: 15px;
                }
                .hukidasi1::before {
                        content: '';
                        position: absolute;
                        top: -25px;
                        left: 29px;
                        margin-left: -15px;
                        border: 15px solid transparent;
                        border-bottom: 15px solid #f6f6f6;
                }
            .example3-2 {
                background-color: #fff;
                width: 25%;
                height: 300px;
                margin-top: 40px;
                border-radius: 20px;
                padding: 30px;
                float:left;
                flex-direction: column;
                align-items: center;
                font-weight: bold;
                margin-left:20px;
                margin-right:20px;
            }
                 .freee1 {
                    width:80%;
                }
                .freee2 {
                    width:25%
                }
                .company2-2{
                        font-size: 15px;
                        color: #f79314;
                        margin-left: 20px;
                        text-align: left;
                        float: right;
                }
                .hukidasi2 {
                        width: 90%;
                        position: relative;
                        background-color: #f6f6f6;
                        padding: 20px;
                        border-radius: 10px;
                        margin-top: 20px;
                        text-align: start;
                        font-size: 15px;
                }
                .hukidasi2::before {
                        content: '';
                        position: absolute;
                        top: -25px;
                        left: 29px;
                        margin-left: -15px;
                        border: 15px solid transparent;
                        border-bottom: 15px solid #f6f6f6;
                }
            .example3-3 {
                background-color: #fff;
                width: 25%;
                height: 300px;
                margin-top: 40px;
                border-radius: 20px;
                padding: 30px;
                float:left;
                flex-direction: column;
                align-items: center;
                font-weight: bold;
            }
                 .Readyfor1 {
                    width:80%;
                    margin-bottom: 20px;
                }
                .Readyfor2 {
                    width:25%
                }
                .company2-3 {
                        font-size: 15px;
                        color: #f79314;
                        margin-left: 20px;
                        text-align: left;
                        float: right;
                }
                .hukidasi3 {
                        width: 90%;
                        position: relative;
                        background-color: #f6f6f6;
                        padding: 20px;
                        border-radius: 10px;
                        margin-top: 20px;
                        text-align: start;
                        font-size: 15px;
                }
                .hukidasi3::before {
                        content: '';
                        position: absolute;
                        top: -25px;
                        left: 29px;
                        margin-left: -15px;
                        border: 15px solid transparent;
                        border-bottom: 15px solid #f6f6f6;
                }
    .section3 {
            position: relative;
            padding-top: 50px;
            padding-bottom: 80px;
            background-color: #f6f6f6;
            width: 100%;
    }
        .oomidasi2 {
            text-align: center;
            margin-top: 50px;
            font-size: 50px;
            font-weight: 900;
        }
        .komidasi2 {
            margin-top: 10px;
            font-weight: bold;
            font-size: 16px;
            text-align: center;
        }
        .lign2 {
            background-color: #f79314;
            width: 50px;
            height: 7px;
            margin: 20px auto;
            border: none;
            text-align: center;
        }
        .course1 {
            margin: 100px auto;
            width: 70%;
            font-weight: bold;
            padding: 30px;
            background-color: #fff;
            text-align:center;
        }
            .course-name1 {
                border: solid;
                border-image: linear-gradient(to right, #ff6d00 0%, #f79214 100%);
                border-image-slice: 1;
                width: 300px;
                height: 100px;
                margin-left: -100px;
                float: left;
                font-size: 25px;
                font-weight: bold;
                padding: 20px 10px 0 10px;
            }
            .course1-1 {
                text-align: left;
                margin-left: -170px;
            }
            .course1-2 {
                        margin-left: -600px;
                        margin-top: 10px;
                        display: inline-block;
                        font-weight: 100;
                        font-size: 14px;
                        color: #fff;
                        background: linear-gradient(90deg, #212121, #444);
                        padding: 2px 20px;
                        border-radius: 20px;
            }
            .course1-3 {
                    text-indent: -23em;
                    list-style: none;
                    margin-left: 00px;
                    margin-top: 10px;
            }
            .course1-3::before {
                content: '';
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                vertical-align: middle;
                background-color: #f79214;
                margin: 0 10px;
            }
            .course1-4 {
                text-align:right;
                font-size: 12px;
                color: #999;
                display:block;
            }
            .course1-4::after {
                   content: '';
                    display: block;
                    position: absolute;
                    right: 200px;
                    top: 463px;
                    width: 8px;
                    height: 8px;
                    border-right: solid 3px #f79214;
                    border-top: solid 3px #f79214;
                    transform: rotate(45deg);
            }
        .course2 {
            margin: 100px auto;
            width: 70%;
            font-weight: bold;
            padding: 30px;
            background-color: #fff;
            text-align:center;
        }
            .course-name2 {
                border: solid;
                border-image: linear-gradient(to right, #f79214 0%, #f74e06 100%);
                border-image-slice: 1;
                width: 300px;
                height: 100px;
                margin-left: -100px;
                float: left;
                font-size: 25px;
                font-weight: bold;
                padding: 20px 10px 0 10px;
            }
            .course2-1 {
                text-align: left;
                margin-left: -230px;
                color: #f75307;
            }
            .course2-2 {
                        margin-left: -600px;
                        margin-top: 10px;
                        display: inline-block;
                        font-weight: 100;
                        font-size: 14px;
                        color: #fff;
                        background: linear-gradient(90deg, #212121, #444);
                        padding: 2px 20px;
                        border-radius: 20px;
            }
            .course2-3 {
                    text-indent: -30em;
                    list-style: none;
                    margin-left: 00px;
                    margin-top: 10px;
            }
            .course2-3::before {
                content: '';
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                vertical-align: middle;
                background-color: #f79214;
                margin: 0 10px;
            }
            .course2-4 {
                text-align:right;
                font-size: 12px;
                color: #999;
                display:block;
            }
            .course2-4::after {
                   content: '';
                    display: block;
                    position: absolute;
                    right: 200px;
                    top: 734px;
                    width: 8px;
                    height: 8px;
                    border-right: solid 3px #f79214;
                    border-top: solid 3px #f79214;
                    transform: rotate(45deg);
            }
            .course-link {
                color: #fff;
                font-size: 15px;
                font-family: 'Lato', sans-serif;
                background: #f79314;
                padding: 10px 0px;
                border-radius: 30px;
                text-align: center;
                font-weight: bold;
                letter-spacing: 0.3em;
                display: block;
                width: 20%;
                margin: auto;
            }
            .course-link:hover {
                opacity:0.7;
            }
    .section4 {
        position: relative;
        padding-top: 50px;
        padding-bottom: 80px;
        background-color: #fcfaf5;
        width: 100%;
        height:700px;
    }
        .oomidasi3 {
            text-align: center;
            margin-top: 50px;
            font-size: 50px;
            font-weight: 900;
        }
        .komidasi3 {
            margin-top: 10px;
            font-weight: bold;
            font-size: 16px;
            text-align: center;
        }
        .lign3 {
            background-color: #f79314;
            width: 50px;
            height: 7px;
            margin: 20px auto;
            border: none;
            text-align: center;
        }
        .message-box {
                width: 50%;
                height: 400px;
                background-color: #fff;
                position: absolute;
                top: 350px;
                left: 200px;
        }
            .message {
               display: inline-block;
                font-size: 50px;
                color: #ff802c;
                background: -webkit-linear-gradient(0deg, #ff802c, #f79214);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                line-height: 1;
                letter-spacing: 3px;
                position: absolute;
                top: -24px;
                z-index: 1;
                margin-left: 20px;
                font-family: 'Lato', sans-serif;
                font-weight: 900;
            }
            .president {
                position: absolute;
                top: 100px;
                right: -320px;
            }
            .president-name {
                position: absolute;
                top: 100px;
                right: -70px;
                padding: 20px;
                font-size: 16px;
                font-weight: bold;
                color: #fff;
                text-shadow: 1px 1px 10px #808080;
            }
            .strong {
                color: #fff;
                font-size: 20px;
            }
            .message1 {
                position: absolute;
                top: 50px;
                left: 40px;
                line-height: 2;
                font-weight: 500;
                font-size: 15px;
            }
            .message2 {
                position: absolute;
                top: 170px;
                left: 40px;
                line-height: 2;
                font-weight: 500;
                font-size: 15px;
            }
            .message3 {
                position: absolute;
                top: 310px;
                left: 40px;
                line-height: 2;
                font-weight: 500;
                font-size: 15px;
            }
    .section5 {
        position: relative;
        padding-top: 50px;
        padding-bottom: 80px;
        background-color: #fff;
        width: 100%;
        height:880px;
    }
        .oomidasi4 {
            text-align: center;
            margin-top: 50px;
            font-size: 50px;
            font-weight: 900;
        }
        .komidasi4 {
            margin-top: 10px;
            font-weight: bold;
            font-size: 16px;
            text-align: center;
        }
        .lign4 {
            background-color: #f79314;
            width: 50px;
            height: 7px;
            margin: 20px auto;
            border: none;
            text-align: center;
        }
        .graduate-box1 {
            width: 320px;
            height: 300px;
            position: absolute;
            top: 50px;
            left: 200px;
            position: relative;
            overflow: hidden;
        }
            a:hover .graduate1 {
                transform: scale(1.1)
            }
            a:hover .graduate-interview1 {
                color: #f79314;
            }
            .graduate1 {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transition: transform 0.2s;
                object-fit: cover;
            }
            .graduate-shadow1 {
                position: absolute;
                bottom: 0;
                left: 0;
                height: 60px;
                width: 280px;
                padding: 80px 20px 15px;
                background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 55%, rgba(30, 30, 30, 0.7), rgba(50, 50, 50, 0));
                }
                .graduate-course1 {
                    position: absolute;
                    top: 87px;
                    left: 20px;
                    color: #f79214;
                    font-size: 16px;
                    font-weight: 600;
                }
                .text-box1 {
                    position: absolute;
                    top: 115px;
                    left: 20px;
                    width: 90%;
                    height: 30px;
                    background: rgba(0,0,0,0.0);
                    border-top: 1px solid #fff;
                }
                .graduate-name1 {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 600;
                }
                .graduate-before1 {
                    position: absolute;
                    top: 8px;
                    left: 80px;
                    color: #fff;
                    font-size: 13px;
                    font-weight: 550;
                }
            .text-box1-1 {
                width: 320px;
                position: absolute;
                top: 600px;
                left: 200px;
            }
            .graduate-interview1 {
                margin-top:15px;
                font-size: 14px;
                font-weight: bold;
                line-height: 1.8;
            }
        .graduate-box2 {
            width: 320px;
            height: 300px;
            position: absolute;
            top: -250px;
            left: 550px;
            position: relative;
            overflow: hidden;
        }
            a:hover .graduate2 {
                transform: scale(1.1)
            }
            a:hover .graduate-interview2 {
                color: #f79314;
            }
            .graduate2 {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transition: transform 0.2s;
                object-fit: cover;
            }
            .graduate-shadow2 {                
                position: absolute;
                bottom: 0;
                left: 0;
                width: 280px;
                height: 60px;
                padding: 80px 20px 15px;
                background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 55%, rgba(30, 30, 30, 0.7), rgba(50, 50, 50, 0));
            } 
                .graduate-course2 {
                    position: absolute;
                    top: 87px;
                    left: 20px;
                    color: #f79214;
                    font-size: 16px;
                    font-weight: 600;
                }
            .text-box2 {
                    position: absolute;
                    top: 115px;
                    left: 20px;
                    width: 90%;
                    height: 30px;
                    background: rgba(0,0,0,0.0);
                    border-top: 1px solid #fff;
                }
                .graduate-name2 {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 600;
                }
                .graduate-before2 {
                    position: absolute;
                    top: 8px;
                    left: 80px;
                    color: #fff;
                    font-size: 13px;
                    font-weight: 550;
                }
            .text-box2-1 {
                width: 320px;
                position: absolute;
                top: 600px;
                left: 550px;
            }
                .graduate-interview2 {
                    margin-top:15px;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 1.8;  
                }
        .graduate-box3 {
            width: 320px;
            height: 300px;
            position: absolute;
            top: -550px;
            left: 900px;
            position: relative;
            overflow: hidden;
        }
        a:hover .graduate3 {
                transform: scale(1.1)
            }
        a:hover .graduate-interview3 {
                color: #f79314;
            }
            .graduate3 {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transition: transform 0.2s;
                object-fit: cover;
            }
            .graduate-shadow3 {                
                position: absolute;
                bottom: 0;
                left: 0;
                width: 280px;
                height: 60px;
                padding: 80px 20px 15px;
                background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 55%, rgba(30, 30, 30, 0.7), rgba(50, 50, 50, 0));
            } 
                .graduate-course3 {
                    position: absolute;
                    top: 87px;
                    left: 20px;
                    color: #f79214;
                    font-size: 16px;
                    font-weight: 600;
                }
            .text-box3 {
                    position: absolute;
                    top: 115px;
                    left: 20px;
                    width: 90%;
                    height: 30px;
                    background: rgba(0,0,0,0.0);
                    border-top: 1px solid #fff;
                }
                .graduate-name3 {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 600;
                }
                .graduate-before3 {
                    position: absolute;
                    top: 8px;
                    left: 80px;
                    color: #fff;
                    font-size: 13px;
                    font-weight: 550;
                }
            .text-box3-1 {
                width: 320px;
                position: absolute;
                top: 600px;
                left: 900px;
            }
                .graduate-interview3 {
                    margin-top:15px;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 1.8;  
                }
        .inter-link {
            position: absolute;
            bottom: 200px;
            right: 580px;
            color: #fff;
            font-size: 15px;
            font-family: 'Lato', sans-serif;
            background: #f79314;
            padding: 10px 10px;
            border-radius: 30px;
            text-align: center;
            font-weight: bold;
            letter-spacing: 0.3em;
            width: 20%;
        }
        .inter-link:hover {
            opacity:0.7;
        }
    .section6 {
        margin-top: 0px;
        position: relative;
        padding-top: 40px;
        padding-bottom: 80px;
        background-color: #f6f6f6;
        width: 100%;
        height:550px;
    }
        .oomidasi5 {
            text-align: center;
            margin-top: 50px;
            font-size: 50px;
            font-weight: 900;
        }
        .komidasi5 {
            margin-top: 10px;
            font-weight: bold;
            font-size: 16px;
            text-align: center;
        }
        .lign5 {
            background-color: #f79314;
            width: 50px;
            height: 7px;
            margin: 20px auto;
            border: none;
            text-align: center;
        }
    .contents-box {
        width: 100%;
        padding: 60px 0px;
}
    .service-list > li {
    padding-right: 20px;
    padding-left: 20px;
    }
    .contents-tidy {
        display: flex;
        list-style: none;
        margin-left: 135px;
    }
        .hover-scale {
            transition: transform 0.2s;
            width: 100%;
            margin: 20px auto;
        }
        a:hover .hover-scale {
            transform: scale(1.1)
        }
        .color-text {
            margin-top: 20px;
            font-weight: bold;
            font-size: 16px;
            line-height: 1.8;
            color: #000;
        }
        a:hover .color-text {
            color: #f79314;
        }
        .red {
            color: #fc6803;
            overflow: hidden;
            display: flex;
            align-items: center;
            background-color: #fff;
            border: solid 2px;
            border-radius: 10px;
            padding: 0 20px;
            height: 180px;
            width: 320px;
            box-sizing: border-box;
        }
        .green {
            color: #08af77;
            overflow: hidden;
            display: flex;
            align-items: center;
            background-color: #fff;
            border: solid 2px;
            border-radius: 10px;
            padding: 0 20px;
            height: 180px;
            width: 320px;
            box-sizing: border-box;
        }
        .black {
            color: #000;
            overflow: hidden;
            display: flex;
            align-items: center;
            background-color: #fff;
            border: solid 2px;
            border-radius: 10px;
            padding: 0 20px;
            height: 180px;
            width: 320px;
            box-sizing: border-box;
        }
    .section7 {
        margin-top: 0px;
        position: relative;
        padding-top: 40px;
        padding-bottom: 80px;
        background-color: #f79314;
        width: 100%;
        height:400px;
    }   
    .last-box {
        width: 70%;
        padding: 50px 200px;
        height: 100%;
    }
        .last-potepan {
            width:30%;
        }
        a:hover .last-potepan {
            opacity:0.8;
        }
        .last-text {
            margin-top: 20px;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.5;
            color: #fff;
            width: 250px;
        }
        .sns {
            padding-top: 20px;
            width: 60px;
            margin: 10px;
        }
        a:hover .sns {
            opacity:0.7;
        }
        .ul2 {
            list-style: none;
            position: absolute;
            left: 700px;
            top: 100px;
            line-height: 50px;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
        }
        .ul2 a {
            color: #fff;
        }
        .last-panda {
            position: absolute;
            right: 200px;
            bottom: 130px;
            width: 110px;
        }
        .page-top-button {
            position: absolute;
            width: 50px;
            height: 50px;
            top: -25px;
            right: 200px;
            border-radius: 50%;
            background-color: #fff;
            box-shadow: 0 12px 30px -15px;
            transition: 0.2s;
        }
    .page-top-arrow {
        position: absolute;
        top: 22px;
        right: 19px;
        display: inline-block;
        height: 10px;
        width: 10px;
        border-left: solid 3px #f79214;
        border-top: solid 3px #f79214;
        transform: rotate(45deg);
        text-decoration: none;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }    
    .page-top-button:hover {
        background-color: #f79214;
    }
    .page-top-arrow:hover {
        border-color: #fff;
    }
    .copy {
        position: absolute;
        bottom: 50px;
        color: #fff;
        font-size:10px;
    }