.test_border2 { border-top: 3px dotted red; }
.test_border2 { border-top: 3px double red; }
#test_border3 { 
    border-top: 2px dotted #800080;
    border-right: 5px dashed #fa8072;
    
}
#test_border3 {
    border-top: 2px dashed #800080;
    border-right: 5px solid #fa8072;
}
.test_border4 {
    border: 2px solid black;
    border-bottom: hidden;
}
.test_border4 {
    border: 2px double black;
    border-bottom: hidden;
}